.main-page {
  background-image: url('/asset/images/backgrounds/background-check.png');
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.carousel .carousel-inner {
  height: 100vh;
}

.carousel-img {
  margin-top: 26vh;
  height: 60vh;
}

@media (max-width: 990px) {
  .carousel-img {
    margin-top: 30vh;
    height: 50vh;
  }
}

@media (max-width: 750px) {
  .carousel-img {
    margin-top: 33vh;
    height: 45vh;
  }
}

@media (max-width: 680px) {
  .carousel-img {
    margin-top: 36vh;
    height: 40vh;
  }
}

@media (max-width: 650px) {
  .carousel-img {
    margin-top: 37vh;
    height: 36vh;
  }
}

@media (max-width: 575px) {
  .carousel-img {
    margin-top: 38vh;
    height: 30vh;
  }
}

@media (max-width: 450px) {
  .carousel-img {
    height: 25vh;
  }
}
