<a class="navbar-brand p-0" href="/index.html">
  <img
    id="navbar-brand-logo"
    src="/asset/images/etc/logo.png"
    alt="logo image"
  />
</a>
<button
  class="navbar-toggler border-0"
  type="button"
  data-bs-toggle="collapse"
  data-bs-target="#nav-link"
  aria-controls="nav-link"
  aria-expanded="false"
  aria-label="Toggle navigation"
>
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse justify-content-end" id="nav-link">
  <ul class="navbar-nav gap-4">
    <li class="nav-item">
      <a class="nav-link" href="/asset/pages/shop_cereal-pack.html">SHOP</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/asset/pages/about.html">ABOUT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/asset/pages/cart.html">CART</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/asset/pages/logIn.html">USER</a>
    </li>
  </ul>
</div>
