<a
  class="beaver-cereal-products col-lg-4 text-center text-decoration-none"
  href="/asset/pages/products/cereal-pack_grain.html"
>
  <img
    class="cereal-pack-product"
    src="/asset/images/products/shop_cereal_grain.png"
    alt="cereal pack grain flavor"
  />
  <div class="product-description">
    <h2 class="flavor">Grain Flavor (127g)</h2>
    <strong class="price">$ 5.99</strong>
  </div>
</a>
<a
  class="beaver-cereal-products col-lg-4 text-center text-decoration-none"
  href="/asset/pages/products/cereal-pack_carrot.html"
>
  <img
    class="cereal-pack-product"
    src="/asset/images/products/shop_cereal_carrot.png"
    alt="cereal pack carrot flavor"
  />
  <div class="product-description">
    <h2 class="flavor">Carrot Flavor (127g)</h2>
    <strong class="price">$ 5.99</strong>
  </div>
</a>
<a
  class="beaver-cereal-products col-lg-4 text-center text-decoration-none"
  href="/asset/pages/products/cereal-pack_banana.html"
>
  <img
    class="cereal-pack-product"
    src="/asset/images/products/shop_cereal_banana.png"
    alt="cereal pack banana flavor"
  />
  <div class="product-description">
    <h2 class="flavor">Banana Flavor (127g)</h2>
    <strong class="price">$ 5.99</strong>
  </div>
</a>
