<a
  class="beaver-cereal-products col-lg-4 text-center text-decoration-none"
  href="/asset/pages/products/cereal-bar_grain.html"
>
  <img
    class="cereal-pack-product cereal-bar-product"
    src="/asset/images/products/shop_cerealbar_grain.png"
    alt="cereal pack grain flavor"
  />
  <div class="product-description">
    <h2 class="flavor">Grain Flavor (90g)</h2>
    <strong class="price">$ 1.99</strong>
  </div>
</a>
<a
  class="beaver-cereal-products col-lg-4 text-center text-decoration-none"
  href="/asset/pages/products/cereal-bar_carrot.html"
>
  <img
    class="cereal-pack-product cereal-bar-product"
    src="/asset/images/products/shop_cerealbar_carrot.png"
    alt="cereal pack carrot flavor"
  />
  <div class="product-description">
    <h2 class="flavor">Carrot Flavor (90g)</h2>
    <strong class="price">$ 1.99</strong>
  </div>
</a>
<a
  class="beaver-cereal-products col-lg-4 text-center text-decoration-none"
  href="/asset/pages/products/cereal-bar_banana.html"
>
  <img
    class="cereal-pack-product cereal-bar-product"
    src="/asset/images/products/shop_cerealbar_banana.png"
    alt="cereal pack banana flavor"
  />
  <div class="product-description">
    <h2 class="flavor">Banana Flavor (90g)</h2>
    <strong class="price">$ 1.99</strong>
  </div>
</a>
