@font-face {
  font-family: 'AppleSDGothicNeoR';
  src: url('../fonts/AppleSDGothicNeoR.ttf');
}

@font-face {
  font-family: 'FrancoisOne-Regular';
  src: url('../fonts/FrancoisOne-Regular.ttf');
}

@font-face {
  font-family: 'impact';
  src: url('../fonts/impact.ttf');
}
